[Desktop Entry]
Name=HydrateMe
Comment=Reminds you to drink water every 30 minutes
Exec=/usr/bin/hydrateme
Icon=hydrateme
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
